In [256]:
import pandas as pd
import numpy as np

# 1. Load the dataset into a pandas dataframe. Name the variable as “survey”.

In [273]:
survey= pd.read_excel("D://Resume//Python EDA//sample_survey1.xlsx")

In [258]:
survey.shape

(6867, 14)

In [259]:
survey.head()

,response_id,collection_date,urban_rural,education,income,Vote_Now,Past_Vote,CM_satisfaction,MLA_satisfaction,age,gender,assembly_no,category,weight
0,1,2020-08-24,Rural,12th Pass,"₹ 30,000 - ₹ 50,000",BJP,BJP,Fully Dissatisfied,Fully Dissatisfied,26,Male,211,Gen,0.346969
1,2,2020-08-24,Rural,Graduate,"₹ 20,000 - ₹ 30,000",RLSP,JD(U),Somewhat Satisfied,Fully Dissatisfied,34,Male,189,BC,0.603419
2,3,2020-08-24,Rural,Graduate,"₹ 5,000 - ₹ 10,000",JAP(L),BJP,Fully Dissatisfied,Somewhat Satisfied,25,Male,191,Gen,0.673762
3,4,2020-08-24,Urban,Graduate,"₹ 10,000 - ₹ 20,000",RJD,RJD,Fully Dissatisfied,Somewhat Satisfied,36,Male,194,Gen,1.101298
4,5,2020-08-24,Rural,Graduate,"₹ 50,000 - ₹ 80,000",JD(U),Did not vote,Fully Satisfied,Fully Satisfied,22,Male,176,BC,0.333505

In [64]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6867 entries, 1 to 6867
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   collection_date   6867 non-null   datetime64[ns]
 1   urban_rural       6867 non-null   object
 2   education         6867 non-null   object
 3   income            6867 non-null   object
 4   Vote_Now          6867 non-null   object
 5   Past_Vote         6867 non-null   object
 6   CM_satisfaction   6867 non-null   object
 7   MLA_satisfaction  6867 non-null   object
 8   age               6867 non-null   object
 9   gender            6867 non-null   object
 10  assembly_no       6867 non-null   int64
 11  category          6867 non-null   object
 12  weight            6867 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(10)
memory usage: 751.1+ KB

# 2. How many samples were collected on each day?

In [226]:
survey.collection_date.value_counts(dropna=False)

2020-08-24    1479
2020-08-25     998
2020-08-28     761
2020-08-27     665
2020-08-29     620
2020-09-01     607
2020-08-26     598
2020-08-30     582
2020-08-31     557
Name: collection_date, dtype: int64

# 3. What proportion of the total respondents were aged less than 45?

In [274]:
survey.replace('24ko','24',inplace=True)

In [287]:
survey['age'] = survey['age'].astype('int')
survey['age']

0       26
1       34
2       25
3       36
4       22
        ..
6862    25
6863    30
6864    20
6865    23
6866    33
Name: age, Length: 6867, dtype: int32

In [296]:
proportion_age = survey.age<45

In [ ]:
proportion_age.mean()

# 4. Create a new column in the dataframe “age_group”. This column should contain the age
group the respondent belongs to. The age groups are 18-25, 25-40, 40-55 and 55+. The
dataframe should look like this after the column creation:

In [301]:
def age_group(num):
    if num >= 18 and num <= 25:
        return '18-25'
    elif num >= 25 and num <= 40:
        return '25-40'
    elif num >= 40 and num <= 55:
        return '40-55' 
    else:
        return '55+'

In [302]:
survey['age_group'] =survey['age'].apply(age_group)

In [303]:
survey['age_group']

0       25-40
1       25-40
2       18-25
3       25-40
4       18-25
        ...
6862    18-25
6863    25-40
6864    18-25
6865    18-25
6866    25-40
Name: age_group, Length: 6867, dtype: object

5. How many samples were collected for each age-group? Which age-group had the most samples?

In [309]:
survey.groupby(['age_group'])['collection_date'].count()

age_group
18-25    2692
25-40    3423
40-55     644
55+       108
Name: collection_date, dtype: int64

6. What proportion of the respondents had opted for the RJD party in both the Vote_Now and the Past_Vote questions?

In [318]:
RJD_Party =len(survey[(survey['Vote_Now']=="RJD") & (survey['Past_Vote']=='RJD')])*100/len(survey)
RJD_Party

11.810106305519149

7. For each day of sample collection, determine the proportion of respondents who were
fully satisfied with the performance of the CM. So if there were a total of 1000 samples
on day 1 and 300 out of those said they were fully satisfied, then our answer for that day
would be 0.3.

In [335]:
sample_7 = survey.groupby('collection_date')['CM_satisfaction'].count()

In [334]:
sample_7_1 =survey[survey['CM_satisfaction']=='Fully Satisfied'].groupby('collection_date').count()['response_id']

In [348]:
df7 = (sample_7_1/sample_7)*100

In [349]:
df7

collection_date
2020-08-24     9.871535
2020-08-25     9.519038
2020-08-26     9.866221
2020-08-27     8.120301
2020-08-28    12.089356
2020-08-29    11.774194
2020-08-30    11.168385
2020-08-31    11.131059
2020-09-01    12.355848
dtype: float64

# 8. In a similar fashion create a day-wise proportion of respondents that opted fully
dissatisfied with their MLA.

In [340]:
sample_8 = survey.groupby('collection_date')['CM_satisfaction'].count()

In [345]:
sample_8_1 =survey[survey['MLA_satisfaction']=='Fully Dissatisfied'].groupby('collection_date').count()['response_id']
sample_8_1

collection_date
2020-08-24    887
2020-08-25    630
2020-08-26    353
2020-08-27    403
2020-08-28    462
2020-08-29    350
2020-08-30    361
2020-08-31    321
2020-09-01    385
Name: response_id, dtype: int64

In [347]:
df_8 = (sample_8_1/sample_8)*100
df_8

collection_date
2020-08-24    59.972955
2020-08-25    63.126253
2020-08-26    59.030100
2020-08-27    60.601504
2020-08-28    60.709593
2020-08-29    56.451613
2020-08-30    62.027491
2020-08-31    57.630162
2020-09-01    63.426689
dtype: float64

# 9. Create a pivot-table (or crosstab) with index as Past_Vote, Column as Vote_Now and
cell values as the count of samples.

In [350]:
pd.crosstab(index = survey.Past_Vote,columns=survey.Vote_Now,values=survey.response_id,aggfunc='count')

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,7.0,1.0,1630.0,3.0,5.0,42.0,101.0,110.0,44.0,13.0,194.0,32.0,87.0,370.0,88.0,24.0,62.0,10.0
BSP,NaN,1.0,2.0,5.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,8.0,5.0,231.0,2.0,1.0,22.0,41.0,69.0,10.0,16.0,83.0,11.0,51.0,195.0,20.0,3.0,31.0,5.0
HAM,2.0,NaN,25.0,NaN,1.0,NaN,3.0,2.0,2.0,NaN,4.0,NaN,NaN,6.0,4.0,NaN,1.0,NaN
INC,NaN,6.0,6.0,NaN,NaN,57.0,10.0,9.0,NaN,3.0,6.0,3.0,3.0,100.0,1.0,2.0,7.0,NaN
JAP(L),NaN,NaN,4.0,NaN,NaN,NaN,35.0,NaN,NaN,NaN,NaN,1.0,NaN,2.0,NaN,NaN,NaN,NaN
JD(U),6.0,10.0,254.0,2.0,2.0,45.0,72.0,279.0,29.0,9.0,90.0,18.0,43.0,435.0,13.0,25.0,36.0,6.0
LJP,NaN,NaN,76.0,1.0,NaN,4.0,3.0,6.0,9.0,2.0,3.0,NaN,2.0,17.0,1.0,NaN,1.0,NaN
Left Front,NaN,1.0,2.0,NaN,NaN,1.0,NaN,NaN,NaN,18.0,1.0,1.0,NaN,4.0,NaN,1.0,NaN,1.0
NOTA,NaN,1.0,29.0,1.0,NaN,9.0,7.0,7.0,3.0,5.0,46.0,7.0,11.0,27.0,5.0,4.0,5.0,NaN
Others,1.0,5.0,45.0,1.0,1.0,4.0,7.0,4.0,1.0,4.0,10.0,6.0,8.0,21.0,7.0,1.0,6.0,NaN
RJD,3.0,7.0,46.0,NaN,1.0,31.0,31.0,39.0,4.0,9.0,18.0,8.0,10.0,811.0,1.0,10.0,14.0,4.0
RLSP,NaN,NaN,17.0,NaN,NaN,NaN,3.0,NaN,NaN,NaN,3.0,NaN,2.0,8.0,2.0,12.0,1.0,1.0
VIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

# 10. Repeat the above question with the cell values as the sum of “weight”.

In [351]:

pd.crosstab(index = survey.Past_Vote,columns=survey.Vote_Now,values=survey.weight,aggfunc='sum')

Vote_Now,AAP,AIMIM,BJP,BSP,HAM,INC,JAP(L),JD(U),LJP,Left Front,NOTA,Others,Plurals,RJD,RJJP,RLSP,Undecided,VIP
Past_Vote,,,,,,,,,,,,,,,,,,
BJP,4.807335,0.349996,1049.344112,0.452551,10.171283,50.055502,63.832368,68.029581,45.716215,7.537394,114.913686,8.790137,50.016163,250.948101,16.047570,18.715113,41.286954,18.691691
BSP,NaN,1.654731,5.174487,32.010277,NaN,2.298223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Did not vote,8.865896,5.379527,114.203906,3.329611,2.497170,27.791290,26.359190,58.983458,11.801813,13.050113,44.725179,7.289933,25.319524,173.882525,4.349832,5.041587,22.015457,10.696552
HAM,0.312607,NaN,25.348884,NaN,1.648856,NaN,0.712161,1.006719,2.496424,NaN,0.928984,NaN,NaN,7.713008,1.903148,NaN,0.039564,NaN
INC,NaN,11.105958,1.642875,NaN,NaN,161.742302,18.942597,11.077323,NaN,6.268726,5.999014,1.552038,1.588527,195.020050,5.340403,1.140299,8.558475,NaN
JAP(L),NaN,NaN,6.512846,NaN,NaN,NaN,57.876224,NaN,NaN,NaN,NaN,3.195682,NaN,2.164824,NaN,NaN,NaN,NaN
JD(U),12.457216,29.198610,156.243100,11.005903,2.639574,91.806261,106.217216,498.796862,33.148113,11.765603,61.109706,29.196072,45.175289,657.155514,4.015909,44.376194,58.137833,20.675288
LJP,NaN,NaN,85.010450,2.481377,NaN,21.613385,7.375946,11.382812,26.868529,1.712452,0.813171,NaN,1.927965,30.737989,0.478933,NaN,1.709409,NaN
Left Front,NaN,2.298223,0.209586,NaN,NaN,2.291368,NaN,NaN,NaN,44.280864,0.201455,8.309203,NaN,6.740281,NaN,0.877960,NaN,3.020887
NOTA,NaN,1.061204,12.685435,0.051485,NaN,3.844332,8.645440,12.132362,1.353138,2.863587,35.310377,13.594657,3.676105,20.552066,1.116006,4.502676,1.570309,NaN
Others,13.661335,21.212705,34.866218,0.684568,1.505864,1.389539,5.333891,5.101976,2.481377,4.017150,9.419087,8.236678,2.715087,38.194805,1.754671,3.800565,2.504778,NaN
RJD,5.515847,24.149369,32.285093,NaN,0.960400,67.072640,28.661774,55.385673,9.226178,35.399702,25.113668,14.999222,14.179660,1016.975742,0.085758,10.752145,21.523115,13.161145
RLSP,NaN,NaN,23.376575,NaN,NaN,NaN,3.269255,NaN,NaN,NaN,1.097574,NaN,0.499403,14.951502,1.955662,23.505807,3.524302,8.258391
VIP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333505,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.372959

# 11 .Create a dataframe by performing a group by over age_group and calculate 
the count of total samples under each age_group.

In [354]:
data =survey.groupby('age_group')['response_id'].count()
df11 =pd.DataFrame(data)
df11

           response_id
age_group
18-25             2692
25-40             3423
40-55              644
55+                108

# 12. Create a dataframe by performing a group by over age_group and finding the count of
total samples for each age_group that opted for the JD(U) party in Vote_Now.

In [356]:
data_1 =survey[survey['Vote_Now']=='JD(U)'].groupby('age_group').count()['response_id']
df12 =pd.DataFrame(data_1)
df12

           response_id
age_group
18-25              216
25-40              245
40-55               55
55+                 10

# 13. Join/Merge the two dataframes from questions 12 and 11 with the common column as age_group

In [357]:
df13 = pd.merge(df11,df12,on ="age_group")

In [358]:
df13

           response_id_x  response_id_y
age_group
18-25               2692            216
25-40               3423            245
40-55                644             55
55+                  108             10